projeto.json
{
  "nodes": [
    {
      "parameters": {
        "triggerOn": "newEmail",
        "includeAttachments": false
      },
      "id": "1",
      "name": "Gmail Trigger",
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1,
      "credentials": {
        "googleApi": "Minha Credencial Gmail"
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "requestMethod": "GET",
        "url": "https://gmail.googleapis.com/gmail/v1/users/me/messages/{{$json[\"id\"]}}?format=full",
        "sendHeaders": true
      },
      "id": "2",
      "name": "Get Full Message",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "credentials": {
        "oAuth2Api": "Minha Credencial Gmail"
      }
    },
    {
      "parameters": {
        "functionCode": "const parts = $json.payload.parts || [];\n\nfunction decode(b64) {\n  return Buffer.from(b64.replace(/-/g, '+').replace(/_/g, '/'), 'base64').toString('utf-8');\n}\n\nlet body = '';\nfor (const part of parts) {\n  if (part.mimeType === 'text/html' && part.body?.data) {\n    body = decode(part.body.data);\n    break;\n  }\n  if (part.mimeType === 'text/plain' && part.body?.data) {\n    body = decode(part.body.data);\n  }\n}\n\nreturn [{ body }];"
      },
      "id": "3",
      "name": "Decode Body",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1
    }
  ],
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Get Full Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Full Message": {
      "main": [
        [
          {
            "node": "Decode Body",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
